# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# 로그폴더
logs/

# .idea 폴더
.idea/

/notify-server
/notify-server-task-*.json
notify-server-task-kurly-watch-product-list.csv
test_results.txt
coverage
coverage_final
log_coverage
notification_coverage
task_coverage
task_coverage_detail
task_coverage_final
task_scheduler_coverage
service/task/notify-server-task-test-task-test-command.json
coverage_task
