{
    "swagger": "2.0",
    "info": {
        "description": "웹 스크래핑을 통해 수집한 정보를 알림으로 전송하는 서버의 REST API입니다.\n\n이 API를 사용하면 외부 애플리케이션에서 텔레그램 등의 메신저로 알림 메시지를 전송할 수 있습니다.\n\n## 주요 기능\n- 알림 메시지 전송\n- 다양한 알림 채널 지원 (Telegram 등)\n- 애플리케이션별 인증 및 권한 관리\n\n## 인증 방법\nAPI 사용을 위해서는 사전에 등록된 애플리케이션 ID와 App Key가 필요합니다.\n설정 파일(notify-server.json)의 allowed_applications에 애플리케이션을 등록한 후 사용하세요.\n\n## 인증 플로우\n1. **사전 준비**: notify-server.json의 allowed_applications에 애플리케이션 등록\n- application_id, app_key, default_notifier_id 설정\n2. **API 호출**: Query Parameter로 app_key 전달\n- POST /api/v1/notice/message?app_key=YOUR_KEY\n3. **인증 검증**: 서버에서 application_id와 app_key 확인\n- 미등록 앱: 401 Unauthorized\n- 잘못된 app_key: 401 Unauthorized\n4. **알림 전송**: 인증 성공 시 텔레그램으로 메시지 전송\n- 성공: 200 OK\n\n자세한 인증 플로우 다이어그램은 GitHub README를 참조하세요.",
        "title": "Notify Server API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "DarkKaiser",
            "url": "https://github.com/DarkKaiser",
            "email": "darkkaiser@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/DarkKaiser/notify-server/blob/master/LICENSE"
        },
        "version": "1.0.0"
    },
    "host": "api.darkkaiser.com:2443",
    "basePath": "/",
    "paths": {
        "/api/v1/notice/message": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "외부 애플리케이션에서 텔레그램 등의 메신저로 알림 메시지를 전송합니다.\n\n이 API를 사용하려면 사전에 등록된 애플리케이션 ID와 App Key가 필요합니다.\n설정 파일(notify-server.json)의 allowed_applications에 애플리케이션을 등록해야 합니다.\n\n## 사용 예시\n```bash\ncurl -X POST \"http://localhost:2443/api/v1/notice/message?app_key=your-app-key\" -H \"Content-Type: application/json\" -d '{\"application_id\":\"my-app\",\"message\":\"테스트 메시지\",\"error_occurred\":false}'\n```",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "알림 메시지 전송",
                "parameters": [
                    {
                        "type": "string",
                        "example": "your-app-key-here",
                        "description": "Application Key (인증용)",
                        "name": "app_key",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "알림 메시지 정보",
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.NotifyMessage"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "schema": {
                            "$ref": "#/definitions/model.SuccessResponse"
                        }
                    },
                    "400": {
                        "description": "잘못된 요청 (필수 필드 누락, JSON 형식 오류 등)",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "인증 실패 (잘못된 App Key 또는 미등록 애플리케이션)",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "서버 내부 오류",
                        "schema": {
                            "$ref": "#/definitions/model.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "description": "서버가 정상적으로 동작하는지 확인합니다.\n\n이 엔드포인트는 인증 없이 호출할 수 있으며, 모니터링 시스템에서 서버 상태를 확인하는 데 사용됩니다.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System"
                ],
                "summary": "서버 상태 확인",
                "responses": {
                    "200": {
                        "description": "서버 정상",
                        "schema": {
                            "$ref": "#/definitions/model.HealthResponse"
                        }
                    }
                }
            }
        },
        "/version": {
            "get": {
                "description": "서버의 빌드 정보를 반환합니다.\n\nGit 커밋 해시, 빌드 날짜, 빌드 번호, Go 버전 등의 정보를 제공합니다.\n이 정보는 디버깅 및 버전 확인에 유용합니다.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System"
                ],
                "summary": "서버 버전 정보",
                "responses": {
                    "200": {
                        "description": "버전 정보",
                        "schema": {
                            "$ref": "#/definitions/model.VersionResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.ErrorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "description": "에러 메시지 (에러 발생 원인 및 해결 방법 포함)",
                    "type": "string",
                    "example": "APP_KEY가 유효하지 않습니다.(ID:my-app)"
                }
            }
        },
        "model.HealthResponse": {
            "type": "object",
            "properties": {
                "status": {
                    "description": "서버 상태 (healthy, unhealthy)",
                    "type": "string",
                    "example": "healthy"
                },
                "uptime": {
                    "description": "서버 가동 시간 (초)",
                    "type": "integer",
                    "example": 3600
                }
            }
        },
        "model.NotifyMessage": {
            "type": "object",
            "required": [
                "application_id",
                "message"
            ],
            "properties": {
                "application_id": {
                    "description": "애플리케이션 ID (설정 파일의 allowed_applications에 등록된 ID)",
                    "type": "string",
                    "example": "my-app"
                },
                "error_occurred": {
                    "description": "에러 발생 여부 (true인 경우 에러 알림으로 표시됨)",
                    "type": "boolean",
                    "example": false
                },
                "message": {
                    "description": "알림 메시지 내용 (최대 4096자, 마크다운 형식 지원)",
                    "type": "string",
                    "maxLength": 4096,
                    "example": "서버에서 중요한 이벤트가 발생했습니다."
                }
            }
        },
        "model.SuccessResponse": {
            "type": "object",
            "properties": {
                "result_code": {
                    "description": "결과 코드 (0: 성공, 0이 아닌 값: 실패)",
                    "type": "integer",
                    "example": 0
                }
            }
        },
        "model.VersionResponse": {
            "type": "object",
            "properties": {
                "build_date": {
                    "description": "빌드 날짜 (UTC)",
                    "type": "string",
                    "example": "2025-12-01T14:00:00Z"
                },
                "build_number": {
                    "description": "빌드 번호",
                    "type": "string",
                    "example": "100"
                },
                "go_version": {
                    "description": "Go 버전",
                    "type": "string",
                    "example": "go1.23.4"
                },
                "version": {
                    "description": "Git 커밋 해시",
                    "type": "string",
                    "example": "abc1234"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "description": "Application Key for authentication",
            "type": "apiKey",
            "name": "app_key",
            "in": "query"
        }
    },
    "externalDocs": {
        "description": "API 인증 가이드 (인증 플로우 다이어그램 포함)",
        "url": "https://github.com/DarkKaiser/notify-server#api-인증-플로우"
    }
}