{
    "swagger": "2.0",
    "info": {
        "description": "웹 스크래핑을 통해 수집한 정보를 알림으로 전송하는 서버의 REST API입니다.\n\n이 API를 사용하면 외부 애플리케이션에서 텔레그램 등의 메신저로 알림 메시지를 전송할 수 있습니다.\n\n## 주요 기능\n- 알림 메시지 전송\n- 다양한 알림 채널 지원 (Telegram 등)\n- 애플리케이션별 인증 및 권한 관리\n\n## 인증 방법\nAPI 사용을 위해서는 사전에 등록된 애플리케이션 ID와 App Key가 필요합니다.\n설정 파일(notify-server.json)의 notify_api.applications에 애플리케이션을 등록한 후 사용하세요.\n\n## 인증 플로우\n1. **사전 준비**: notify-server.json의 notify_api.applications에 애플리케이션 등록\n- application_id, app_key, default_notifier_id 설정\n2. **API 호출**: Query Parameter로 app_key 전달\n- POST /api/v1/notifications?app_key=YOUR_KEY\n3. **인증 검증**: 서버에서 application_id와 app_key 확인\n- 미등록 앱: 401 Unauthorized\n- 잘못된 app_key: 401 Unauthorized\n4. **알림 전송**: 인증 성공 시 텔레그램으로 메시지 전송\n- 성공: 200 OK\n\n자세한 인증 플로우 다이어그램은 GitHub README를 참조하세요.",
        "title": "Notify Server API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "DarkKaiser",
            "url": "https://github.com/DarkKaiser",
            "email": "darkkaiser@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/DarkKaiser/notify-server/blob/master/LICENSE"
        },
        "version": "1.0.0"
    },
    "host": "api.darkkaiser.com:2443",
    "basePath": "/",
    "paths": {
        "/api/v1/notifications": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "외부 애플리케이션에서 텔레그램 등의 메신저로 알림 메시지를 전송합니다.\n\n이 API를 사용하려면 사전에 등록된 애플리케이션 ID와 App Key가 필요합니다.\n설정 파일(notify-server.json)의 notify_api.applications에 애플리케이션을 등록해야 합니다.\n\n## 인증 방식\n- **권장**: X-App-Key 헤더로 전달\n- **레거시**: app_key 쿼리 파라미터로 전달 (하위 호환성 유지)\n\n## 사용 예시 (로컬 환경)\n### 헤더 방식 (권장)\n```bash\ncurl -X POST \"http://localhost:2443/api/v1/notifications\" -H \"Content-Type: application/json\" -H \"X-App-Key: your-app-key\" -d '{\"application_id\":\"my-app\",\"message\":\"테스트 메시지\",\"error_occurred\":false}'\n```\n\n### 쿼리 파라미터 방식 (레거시)\n```bash\ncurl -X POST \"http://localhost:2443/api/v1/notifications?app_key=your-app-key\" -H \"Content-Type: application/json\" -d '{\"application_id\":\"my-app\",\"message\":\"테스트 메시지\",\"error_occurred\":false}'\n```",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "알림 메시지 게시",
                "parameters": [
                    {
                        "type": "string",
                        "example": "your-app-key-here",
                        "description": "Application Key (인증용, 권장)",
                        "name": "X-App-Key",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "example": "your-app-key-here",
                        "description": "Application Key (인증용, 레거시)",
                        "name": "app_key",
                        "in": "query"
                    },
                    {
                        "description": "알림 메시지 정보",
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.NotificationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "schema": {
                            "$ref": "#/definitions/response.SuccessResponse"
                        }
                    },
                    "400": {
                        "description": "잘못된 요청 (필수 필드 누락, JSON 형식 오류 등)",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "인증 실패 (잘못된 App Key 또는 미등록 애플리케이션)",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "서버 내부 오류",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "description": "서버가 정상적으로 동작하는지 확인합니다.\n\n이 엔드포인트는 인증 없이 호출할 수 있으며, 모니터링 시스템에서 서버 상태를 확인하는 데 사용됩니다.\n\n## 응답 필드\n- status: 전체 서버 상태 (healthy, unhealthy)\n- uptime: 서버 가동 시간 (초)\n- dependencies: 의존성 서비스 상태 (notification_service 등)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System"
                ],
                "summary": "서버 상태 확인",
                "responses": {
                    "200": {
                        "description": "서버 정상",
                        "schema": {
                            "$ref": "#/definitions/system.HealthResponse"
                        }
                    },
                    "500": {
                        "description": "서버 내부 오류",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/version": {
            "get": {
                "description": "서버의 빌드 정보를 반환합니다.\n\nGit 커밋 해시, 빌드 날짜, 빌드 번호, Go 버전 등의 정보를 제공합니다.\n이 정보는 디버깅 및 버전 확인에 유용합니다.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "System"
                ],
                "summary": "서버 버전 정보",
                "responses": {
                    "200": {
                        "description": "버전 정보",
                        "schema": {
                            "$ref": "#/definitions/system.VersionResponse"
                        }
                    },
                    "500": {
                        "description": "서버 내부 오류",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "request.NotificationRequest": {
            "type": "object",
            "required": [
                "application_id",
                "message"
            ],
            "properties": {
                "application_id": {
                    "description": "애플리케이션 ID",
                    "type": "string",
                    "example": "my-app"
                },
                "error_occurred": {
                    "description": "에러 발생 여부 (true인 경우 에러 알림으로 표시됨)",
                    "type": "boolean",
                    "example": false
                },
                "message": {
                    "description": "알림 메시지 내용 (최대 4096자, 마크다운 형식 지원)",
                    "type": "string",
                    "maxLength": 4096,
                    "minLength": 1,
                    "example": "서버에서 중요한 이벤트가 발생했습니다."
                }
            }
        },
        "response.ErrorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "description": "오류에 대한 상세 메시지입니다.\n발생 원인과 해결을 위한 가이드를 포함할 수 있습니다.",
                    "type": "string",
                    "example": "APP_KEY가 유효하지 않습니다.(ID:my-app)"
                }
            }
        },
        "response.SuccessResponse": {
            "type": "object",
            "properties": {
                "result_code": {
                    "description": "처리 결과 코드입니다.\n0은 성공을 의미하며, 그 외의 값은 정의된 에러 코드를 나타냅니다.",
                    "type": "integer",
                    "example": 0
                }
            }
        },
        "system.DependencyStatus": {
            "type": "object",
            "properties": {
                "latency_ms": {
                    "description": "응답 시간 (밀리초, 선택적)",
                    "type": "integer",
                    "example": 5
                },
                "message": {
                    "description": "추가 메시지 (선택적)",
                    "type": "string",
                    "example": "정상 작동 중"
                },
                "status": {
                    "description": "상태 (healthy, unhealthy, unknown)",
                    "type": "string",
                    "example": "healthy"
                }
            }
        },
        "system.HealthResponse": {
            "type": "object",
            "properties": {
                "dependencies": {
                    "description": "의존성 상태 (선택적)",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/system.DependencyStatus"
                    }
                },
                "status": {
                    "description": "서버 상태 (healthy, unhealthy)",
                    "type": "string",
                    "example": "healthy"
                },
                "uptime": {
                    "description": "서버 가동 시간 (초)",
                    "type": "integer",
                    "example": 3600
                }
            }
        },
        "system.VersionResponse": {
            "type": "object",
            "properties": {
                "build_date": {
                    "description": "빌드 날짜 (UTC)",
                    "type": "string",
                    "example": "2025-12-01T14:00:00Z"
                },
                "build_number": {
                    "description": "빌드 번호",
                    "type": "string",
                    "example": "100"
                },
                "go_version": {
                    "description": "Go 버전",
                    "type": "string",
                    "example": "go1.24.0"
                },
                "version": {
                    "description": "Git 커밋 해시",
                    "type": "string",
                    "example": "abc1234"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "description": "Application Key for authentication",
            "type": "apiKey",
            "name": "app_key",
            "in": "query"
        }
    },
    "externalDocs": {
        "description": "API 인증 가이드 (인증 플로우 다이어그램 포함)",
        "url": "https://github.com/DarkKaiser/notify-server#api-인증-플로우"
    }
}