basePath: /
definitions:
  request.NotificationRequest:
    properties:
      application_id:
        description: 인증에 사용할 애플리케이션 식별자
        example: my-app
        type: string
      error_occurred:
        description: 에러 발생 여부
        example: false
        type: boolean
      message:
        description: 알림 메시지 본문 (Markdown 지원, 최대 4096자)
        example: 서버에서 중요한 이벤트가 발생했습니다.
        maxLength: 4096
        minLength: 1
        type: string
    required:
    - application_id
    - message
    type: object
  response.ErrorResponse:
    properties:
      message:
        description: Message 에러 메시지
        example: APP_KEY가 유효하지 않습니다.(ID:my-app)
        type: string
      result_code:
        description: 'ResultCode HTTP 상태 코드 (예: 400, 401, 500)'
        example: 400
        type: integer
    type: object
  response.SuccessResponse:
    properties:
      message:
        description: Message 성공 메시지
        example: 성공
        type: string
      result_code:
        description: 'ResultCode 처리 결과 코드 (0: 성공)'
        example: 0
        type: integer
    type: object
  system.DependencyStatus:
    properties:
      latency_ms:
        description: 응답 지연시간(ms)
        example: 5
        type: integer
      message:
        description: 상태 상세 정보 또는 에러 메시지
        example: 정상 작동 중
        type: string
      status:
        description: '헬스체크 상태: healthy, unhealthy, unknown'
        example: healthy
        type: string
    type: object
  system.HealthResponse:
    properties:
      dependencies:
        additionalProperties:
          $ref: '#/definitions/system.DependencyStatus'
        description: '외부 의존성별 헬스체크 결과 (키: 의존성 이름)'
        type: object
      status:
        description: '전체 헬스체크 상태: healthy, unhealthy'
        example: healthy
        type: string
      uptime:
        description: 서버 가동 시간(초)
        example: 3600
        type: integer
    type: object
  system.VersionResponse:
    properties:
      build_date:
        description: 빌드 시간(UTC, RFC3339)
        example: "2025-12-01T14:00:00Z"
        type: string
      build_number:
        description: CI/CD 빌드 번호
        example: "100"
        type: string
      go_version:
        description: 컴파일러 버전
        example: go1.24.0
        type: string
      version:
        description: Git 커밋 해시 (short)
        example: abc1234
        type: string
    type: object
externalDocs:
  description: API 인증 가이드 (인증 플로우 다이어그램 포함)
  url: https://github.com/DarkKaiser/notify-server#api-인증-플로우
host: api.darkkaiser.com:2443
info:
  contact:
    email: darkkaiser@gmail.com
    name: DarkKaiser
    url: https://github.com/DarkKaiser
  description: |-
    웹 스크래핑을 통해 수집한 정보를 알림으로 전송하는 서버의 REST API입니다.

    이 API를 사용하면 외부 애플리케이션에서 텔레그램 등의 메신저로 알림 메시지를 전송할 수 있습니다.

    ## 주요 기능
    - 알림 메시지 전송
    - 다양한 알림 채널 지원 (Telegram 등)
    - 애플리케이션별 인증 및 권한 관리

    ## 인증 방법
    API 사용을 위해서는 사전에 등록된 애플리케이션 ID와 App Key가 필요합니다.
    설정 파일(notify-server.json)의 notify_api.applications에 애플리케이션을 등록한 후 사용하세요.

    ## 인증 플로우
    1. **사전 준비**: notify-server.json의 notify_api.applications에 애플리케이션 등록
    - application_id, app_key, default_notifier_id 설정
    2. **API 호출**: Query Parameter로 app_key 전달
    - POST /api/v1/notifications?app_key=YOUR_KEY
    3. **인증 검증**: 서버에서 application_id와 app_key 확인
    - 미등록 앱: 401 Unauthorized
    - 잘못된 app_key: 401 Unauthorized
    4. **알림 전송**: 인증 성공 시 텔레그램으로 메시지 전송
    - 성공: 200 OK

    자세한 인증 플로우 다이어그램은 GitHub README를 참조하세요.
  license:
    name: MIT
    url: https://github.com/DarkKaiser/notify-server/blob/master/LICENSE
  termsOfService: http://swagger.io/terms/
  title: Notify Server API
  version: 1.0.0
paths:
  /api/v1/notifications:
    post:
      consumes:
      - application/json
      description: |-
        외부 애플리케이션에서 텔레그램 등의 메신저로 알림 메시지를 전송합니다.

        이 API를 사용하려면 사전에 등록된 애플리케이션 ID와 App Key가 필요합니다.
        설정 파일(notify-server.json)의 notify_api.applications에 애플리케이션을 등록해야 합니다.

        ## 인증 방식
        - **권장**: X-App-Key 헤더로 전달
        - **레거시**: app_key 쿼리 파라미터로 전달 (하위 호환성 유지)

        ## 사용 예시 (로컬 환경)
        ### 헤더 방식 (권장)
        ```bash
        curl -X POST "http://localhost:2443/api/v1/notifications" -H "Content-Type: application/json" -H "X-App-Key: your-app-key" -d '{"application_id":"my-app","message":"테스트 메시지","error_occurred":false}'
        ```

        ### 쿼리 파라미터 방식 (레거시)
        ```bash
        curl -X POST "http://localhost:2443/api/v1/notifications?app_key=your-app-key" -H "Content-Type: application/json" -d '{"application_id":"my-app","message":"테스트 메시지","error_occurred":false}'
        ```

        ## 응답 예시
        ### 성공 (200 OK)
        ```json
        {"result_code":0,"message":"성공"}
        ```

        ### 실패 (400 Bad Request)
        ```json
        {"result_code":400,"message":"애플리케이션 ID는 필수 항목입니다"}
        ```
      parameters:
      - description: Application Key (인증용, 권장)
        example: your-app-key-here
        in: header
        name: X-App-Key
        type: string
      - description: Application Key (인증용, 레거시)
        example: your-app-key-here
        in: query
        name: app_key
        type: string
      - description: 알림 메시지 정보
        in: body
        name: message
        required: true
        schema:
          $ref: '#/definitions/request.NotificationRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 성공
          schema:
            $ref: '#/definitions/response.SuccessResponse'
        "400":
          description: 잘못된 요청 - 필수 필드 누락, JSON 형식 오류, 메시지 길이 초과(최대 4096자)
          schema:
            $ref: '#/definitions/response.ErrorResponse'
        "401":
          description: 인증 실패 - App Key 누락, 잘못된 App Key, 미등록 애플리케이션
          schema:
            $ref: '#/definitions/response.ErrorResponse'
        "500":
          description: 서버 내부 오류
          schema:
            $ref: '#/definitions/response.ErrorResponse'
        "503":
          description: 서비스 일시 불가 - 알림 큐 포화 또는 시스템 종료 중
          schema:
            $ref: '#/definitions/response.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: 알림 메시지 발송
      tags:
      - Notification
  /health:
    get:
      description: |-
        서버와 외부 의존성의 상태를 확인합니다.
        인증 없이 호출 가능하며, 모니터링 시스템에서 사용됩니다.

        응답 필드:
        - status: 전체 서버 상태 (healthy, unhealthy)
        - uptime: 서버 가동 시간(초)
        - dependencies: 외부 의존성별 상태 (notification_service 등)
      produces:
      - application/json
      responses:
        "200":
          description: 헬스체크 결과
          schema:
            $ref: '#/definitions/system.HealthResponse'
      summary: 서버 헬스체크
      tags:
      - System
  /version:
    get:
      description: |-
        서버의 Git 커밋 해시, 빌드 날짜, 빌드 번호, Go 버전을 반환합니다.
        디버깅 및 배포 버전 확인에 사용됩니다.
      produces:
      - application/json
      responses:
        "200":
          description: 버전 정보
          schema:
            $ref: '#/definitions/system.VersionResponse'
      summary: 서버 버전 정보
      tags:
      - System
securityDefinitions:
  ApiKeyAuth:
    description: Application Key for authentication
    in: query
    name: app_key
    type: apiKey
swagger: "2.0"
